*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
main{
    display: flex;
    gap: 0;
}
header{
    height: 21.844vh;
    background-color: #D9D9D9;
}
.first{
    height: 56.312vh;
    width: 26.852vw;
    background-color: #C0BDBD;
}
main .second{
    display: flex;
    flex-direction: column;
}
.lilsecond{
    background-color: #827878;
    height: 26.141vh;
    width: 46.296vw;
}
.lilsecond2{
    background-color: #B7ADAD;
    width: 46.296vw;
    height: 30.17vh;

}
.third{
    background-color: #C0BDBD;
    width: 26.852vw;
    height: 56.312vh;
}
footer{
    height: 21.844vh;
    width: 100vw;
    background-color: #D9D9D9;
}

